body {
    background-color: rgb(43, 68, 93);
}
.about-info{
    color: whitesmoke;
}
.sale {
    flex-direction: row-reverse
}

.card {
    width: fit-content
}

.card-body {
    width: fit-content
}


.img-thumbnail {
    border: none
}

.card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
}

.card-title {
    color: lavender;
    font-size: 14px;
    font-weight: 900
}

.card-text {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500
}